import logging
from telegram import Update
from telegram.ext import Updater, CommandHandler, MessageHandler, Filters, CallbackContext
import telebot

bot = telebot.TeleBot("1989152371:AAE_CZu_C7LYdu_Xb-rw9N7oB6r0_uHNgCM")
import random

# Настройка логирования
logging.basicConfig(format='%(asctime)s - %(name)s - %(levelname)s - %(message)s', level=logging.INFO)
logger = logging.getLogger(__name__)

# Обработчик команды /start
def start(update: Update, context: CallbackContext) -> None:
    update.message.reply_text(
        "Привет! Выберите один из вариантов: \n"
        "1. Любовь\n"
        "2. Деньги\n"
        "3. Здоровье"
    )

# Обработчик текстовых сообщений
def echo(update: Update, context: CallbackContext) -> None:
    option = update.message.text.lower()
    options = {
        'любовь': 1,
        'деньги': 2,
        'здоровье': 3
    }
    
    if option in options:
        number = random.randint(1, 76)
        update.message.reply_text(f"Вы выбрали {option}. Рандомайзер выбрал число: {number}")
    else:
        update.message.reply_text("Пожалуйста, выберите один из предложенных вариантов.")

# Главная функция
def main() -> None:
    # Инициализация бота
    updater = Updater("YOUR_TOKEN", use_context=True)

    # Получение диспетчера обработчиков
    dp = updater.dispatcher

    # Добавление обработчиков
    dp.add_handler(CommandHandler("start", start))
    dp.add_handler(MessageHandler(Filters.text & ~Filters.command, echo))

    # Запуск бота
    updater.start_polling()

    # Остановка бота при нажатии Ctrl+C
    updater.idle()

if name == '__main__':
    main()
